{% if site.rss_feed_url %}
<div>
  <section>
    <ul id="header" class="nav nav-list">
      <li class="nav-header">{{ site.rss_feed_title }}</li>
      <ul id="rss_feed_linkroll" class="nav nav-list">
        <li>Fetching links...</li>
      </ul>
      {% if site.rss_feed_include_link_to_feed %}
      <li>
        <p><a href="{{ site.rss_feed_url }}">{{ site.rss_feed_link_title }} &raquo;</a></p>
      </li>
      {% endif %}
    </ul>
  </section>
</div>
<script type="text/javascript">
  var linkroll = 'rss_feed_linkroll';
  var rss_feed_url = "http://rsstojson.herokuapp.com/?feed={{ site.rss_feed_url }}";
  (function(){
    var rss_feedInit = document.createElement('script');
    rss_feedInit.type = 'text/javascript';
    rss_feedInit.async = true;
    rss_feedInit.src = '{{ root_url }}/javascripts/rss_feed.js';
    document.getElementsByTagName('head')[0].appendChild(rss_feedInit);
  })();
</script>
{% endif %}
