// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.shifted{
	padding-left: 7px;
	li {
		padding-left: 10px;
		margin-left: 10px;
		line-height: 24px;
	}
}
@media print{
	nav {
		display: none;
	}
	aside{
		display: none;
	}
	#extras{
		display: none;
	}
	.brand{
		display: block;
	}
	.only-print{
		display: block;
	}
	article{
		margin-left:0; 
     	float: none; 
     	width: auto; 
     	color: black; 
     	font-size: 12pt;
	}
}